<div class="header_introWrapper">
  <p class="text-center">aspiring Frontend Developer</p>
  <p class="w-100 m-auto paragraph-desc">
    I'm self-taught Junior Frontend Developer, who potentially wants to become a
    Fullstack Developer. Right now I have slight experience in the field, but
    I've already finished many training projects. I got my university degree in
    marketing field, but I decided to pursue my goal of coding. I love to learn,
    that's why i have finished public collage and also got various certificates
    online.
  </p>
</div>
