.footer {
  color: white;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  min-height: 80px;
}

.footerLogoWrapper a {
  display: inline-block;
}
.footerLogoWrapper a img {
  max-width: 100%;
  width: 80px;
  height: 80px;
  color: transparent;
}
.blink_me {
  animation: 7s linear 1.5s infinite alternate blinker;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
}
