<section id="experience" class="text-center">
  <h2>experience:</h2>
  <p>various pages that i have created and uploaded on github</p>

  <div class="cards__container d-flex justify-content-between posRel">
    <app-project
      class="card w-50 mx-4 bg-transparent text-info card-custom"
      *ngFor="let project of currProject"
      [currProject]="project"
    ></app-project>
    <div class="arrows d-flex justify-content-between align-items-center">
      <img
        (click)="moveLeft()"
        src="../../../../assets/left-arrow.png"
        alt="left"
      />
      <img
        (click)="moveRIght()"
        src="../../../../assets/right-arrow.png"
        alt="right"
      />
    </div>
  </div>
</section>
