.sec_1 {
  text-transform: uppercase;
  text-align: center;
}
.sec_1list {
  display: flex;
  flex-wrap: wrap;
}
.sec_1list li {
  margin: 10px;
  font-size: 20px;
  list-style: none;
}
.sec_3 p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sec_3list ul {
  list-style: none;
}
.sec_3list ul li a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: brown;
}
.sec_3list ul li a:hover {
  color: rgb(198, 53, 53);
}
