<section id="experience" class="container--slider">
  <h2 class="slider--header">experience:</h2>
  <h2 class="slider--header">
    various pages that i have created and uploaded on github
  </h2>
  <app-buttons
    *ngIf="pageSize >= 768"
    (sliderBtnClick)="handleButtonClick($event)"
    class="slider--buttons"
  ></app-buttons>
  <div
    class="sub-container__slider"
    (touchstart)="onMouseDown($event)"
    (touchmove)="onMouseMove($event)"
    (touchend)="onMouseUp()"
  >
    <ng-container
      *ngFor="let project of sliders.slice(0, pageSize < 1024 ? 1 : 3)"
    >
      <app-project
        [@slideAnimation]="activeState"
        [currProject]="project"
      ></app-project>
    </ng-container>
  </div>
</section>
