<section id="mySkills" class="sec_1 m-auto list-description">
  <h3 class="text-center w-100">Skills:</h3>
  <ul class="sec_1list list-group list-group-flush">
    <li class="list-group-item">HTML</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">bootstrap</li>
    <li class="list-group-item">SCSS</li>
    <li class="list-group-item">JavaScript</li>
    <li class="list-group-item">TypeScript</li>
    <li class="list-group-item">Angular</li>
    <li class="list-group-item">RxJs</li>
    <li class="list-group-item">GIT</li>
    <li class="list-group-item">GITHUB</li>
    <li class="list-group-item">VS Code</li>
    <li class="list-group-item">Chrome Dev Tools</li>
    <li class="list-group-item">Figma</li>
    <li class="list-group-item">Photoshop</li>
    <li class="list-group-item">Illustrator</li>
  </ul>
</section>
