.sec_1 {
  text-transform: uppercase;
  text-align: center;
}
.sec_1list {
  display: flex;
  flex-wrap: wrap;
}
.sec_1list li {
  margin: 10px;
  font-size: 20px;
  list-style: none;
}
@media only screen and (max-width: 1024px) {
  .list-description {
    width: 87.5vw !important;
  }
}
