<div class="container__burger">
  <div
    #burgerContainer
    [ngClass]="{ 'burger__rotate--main': isBurgerTogled }"
    class="burger__menu"
    (click)="onBurgerClick()"
  >
    <div
      [ngClass]="{ 'burger__rotate--before': isBurgerTogled }"
      class="burger__before"
    ></div>
    <div
      [ngClass]="{ 'bg__burger--lines': isBurgerTogled }"
      class="burger__center"
    ></div>
    <div
      [ngClass]="{ 'burger__rotate--after': isBurgerTogled }"
      class="burger__after"
    ></div>
  </div>
  <div
    class="overlay"
    [ngClass]="{ 'overlay--active': isBurgerTogled }"
    (click)="onOverlayClick()"
  ></div>
</div>
