<div class="main_wrapper">
  <app-header></app-header>
  <main>
    <section id="mySkills" class="sec_1">
      <h2>My Skills are:</h2>
      <ul class="sec_1list">
        <li>html</li>
        <li>css</li>
        <li>bootstrap</li>
        <li>sass</li>
        <li>javascript</li>
        <li>git</li>
      </ul>
    </section>

    <section id="experience" class="sec_3 sec_1">
      <h2>experience:</h2>
      <p>various pages that i create and upload on github as study</p>
      <div class="sec_3list">
        <ul>
          <li>
            <a href="https://github.com/eratiani/airways/pull/2"
              >final project for RS School angular course</a
            >
          </li>
          <li>
            <a
              href="https://project-management-app-deploy.web.app/project-management-app/Home"
            >
              first angular project for RS School</a
            >
          </li>
          <li>
            <a href="https://client-app-383810.web.app/Home">
              angular project for RS School</a
            >
          </li>
          <li>
            <a href="https://eratiani.github.io/english-for-kids/index.html"
              >my first js game project</a
            >
          </li>
          <li>
            <a href="https://eratiani.github.io/Books-shop/index.html"
              >my first full js project</a
            >
          </li>
          <li>
            <a
              href="https://raw.githack.com/eratiani/project/801373f8ba587802c158fbf3907daaf426623ac0/index.html"
              >my first project</a
            >
          </li>
          <li>
            <a
              href="https://raw.githack.com/eratiani/learningBootstrap/df45a0c196cc1a80cdfda5b94774a83b944150ef/index.html"
              >bootstrap learning page</a
            >
          </li>
          <li>
            <a
              href="https://raw.githack.com/eratiani/learning_bootstrap2/a1596ab66f632bd69a8882bc6c1c46888178d0f4/index.html"
              >other bootstrap project</a
            >
          </li>
          <li>
            <a
              href="https://raw.githack.com/eratiani/learning_3/cd8b1eb54848d0fd1b1828746ff09d04d521397d/index.html"
              >without any framework</a
            >
          </li>
        </ul>
        <p>and many more projects that i have not uploaded on github</p>
      </div>
    </section>
    <section id="other" class="sec_4 sec_1">
      <h2>other</h2>
      <h4>Education</h4>
      <p>Tbilisi State university: economics and business</p>
      <p>ITVET: web development</p>
      <h4>Language</h4>
      <p>English: B1 (intermediate)</p>
      <p>Russian: spoken/written</p>
      <p>georgian: native</p>
    </section>
  </main>
  <app-footer></app-footer>
</div>
