.main_wrapper {
  color: white;
  overflow: hidden;
  margin-top: 69px;
  background-color: rgb(26, 30, 31);
}
.container--about {
  width: 87.5vw;
  margin: 0 auto;
}
.container--skills {
  width: 87.5vw;
  margin: 0 auto;
}
.container--other {
  width: 87.5vw;
  padding-bottom: 50px;
  margin: 0 auto;
}
.sec_1 {
  text-transform: uppercase;
  text-align: center;
}
.sec_1list {
  display: flex;
  flex-wrap: wrap;
}
.sec_1list li {
  margin: 10px;
  font-size: 20px;
  list-style: none;
}
@media (min-width: 1440px) {
  .main_wrapper {
    margin-top: 84px;
  }
}
@media only screen and (max-width: 1300px) {
  .list-description {
    width: 50% !important;
  }
}
@media only screen and (max-width: 600px) {
  .list-description {
    width: 80% !important;
  }
}

.container--slider {
  background-color: rgb(43, 43, 43);
}
