.sec_4 h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sec_1 {
  text-transform: uppercase;
  text-align: center;
}
.sec_1list {
  display: flex;
  flex-wrap: wrap;
}
.sec_1list li {
  margin: 10px;
  font-size: 20px;
  list-style: none;
}
