<section id="other" class="sec_4 sec_1">
  <h2>other</h2>
  <h4>Education</h4>
  <ul
    class="sec_1list list-group list-group-flush w-25 m-auto list-description"
  >
    <li class="list-group-item">
      Tbilisi State university: economics and business
    </li>
    <li class="list-group-item">ITVET: web development</li>
    <li class="list-group-item">RS School Angular Courses</li>
    <li class="list-group-item">RS School Javascript Courses</li>
  </ul>
  <h4>Languages</h4>
  <ul
    class="sec_1list list-group list-group-flush w-25 m-auto list-description"
  >
    <li class="list-group-item">English: C1 (Advanced)</li>
    <li class="list-group-item">Russian: spoken/written</li>
    <li class="list-group-item">georgian: native</li>
  </ul>
</section>
