<header
  [ngClass]="{
    ' scrolled': widowPosY > 84 && windowWidth > 768,
    ' hidden': windowWidth <= 768 && !isScrollingUp && widowPosY > 75
  }"
  id="header"
  class="container__header"
>
  <div class="container__navigation">
    <h1 routerLink="/" class="header__logo--link">
      <div class="header__logo--img">
        <span class="blink_me"> ER</span>EKLE
        <span class="blink_me">RA</span>TI<span class="blink_me">A</span>NI
      </div>
    </h1>
    <app-navigation></app-navigation>
  </div>
</header>
