.wrapper {
  display: none;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(103, 154, 192, 0.4);
}
.burger img {
  max-width: 100%;
  height: auto;
}
header p,
h4 {
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  color: white;
}
.photoWrapper {
  width: 30vw;
  height: auto;
  margin: auto;
  background: transparent;
}
.photoWrapper img {
  max-width: 100%;
  height: auto;
  background: transparent;
}
.header_introWrapper {
 
  text-transform: capitalize;

  text-align: center;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgerList2 {
  display: none;
}
.blink_me {
  animation: 7s linear 1.5s infinite alternate blinker;
}

@keyframes blinker {
  0% {
      opacity: 0;
    }
  5% {
      opacity: 0.5;
    }
  10% {
      opacity: 1;
    }
  15% {
    opacity: 0;
  }
  20% {
      opacity: 0.5;
    }
  25% {
      opacity: 1;
    }
}
@media only screen and (max-width: 700px) {
.paragraph-desc{
  width: 100% !important;
}
}
