<header id="header">
  <nav class="headerNav">
    <div class="navText">
      <p>country</p>
      <h4>georgia/tbilisi</h4>
    </div>

    <ul class="burgerList2">
      <li>
        <button (click)="smoothScrollTar($event)" class="1" href="#header">
          Main
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="2" href="#mySkills">
          Skills
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="3" href="#codeExample">
          Code Example
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="4" href="#experience">
          Experience
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="5" href="#contact">
          Contact
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="6" href="#other">
          Other
        </button>
      </li>
    </ul>
    <ul class="burgerList">
      <li>
        <button (click)="smoothScrollTar($event)" class="1" href="#header">
          Main
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="2" href="#mySkills">
          Skills
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="3" href="#codeExample">
          Code Example
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="4" href="#experience">
          Experience
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="5" href="#contact">
          Contact
        </button>
      </li>
      <li>
        <button (click)="smoothScrollTar($event)" class="6" href="#other">
          Other
        </button>
      </li>
    </ul>
    <div class="burger">
      <a class="burgerLing"
        ><img class="burgerMenu" src="images/burger.png" alt="burger menu"
      /></a>
    </div>
  </nav>

  <div class="photoWrapper">
    <img class="photoinside" src="images/photo.png" alt="supposed to be me" />
  </div>
  <div class="header_introWrapper">
    <h1>EREKLE RATIANI</h1>
    <p>aspiring Frontend Developer</p>
    <p>
      I'm self-taught Junior Frontend Developer, who potentially wants to become
      a Fullstack Developer. Right now I don't have much of experience in the
      field, but I've already finished some training projects. I got my
      university degree in marketing field, but I decided to pursue my goal of
      coding. I love to learn, that's why I'm currently studying at public
      collage and online to achive my goal of becoming a pro.
    </p>
  </div>
</header>
