<div class="container--main">
  <app-header></app-header>
  <div class="container--project">
    <div class="container--img">
      <img
        appLazyLoading
        imgSrc="../../../../assets/project-{{ currProject.imgLink }}.png"
        src="../../../../assets/project-{{ currProject.imgLink }}.png"
        alt="{{ currProject.title }}"
        class="project--img"
      />
    </div>
    <div id="`{{ currProject.id }}`" class="container__project--text">
      <h2 class="project--title">{{ currProject.title }}</h2>
      <p class="publishDate">created at: {{ currProject.date }}</p>
      <p>tools used: {{ currProject.tools }}</p>
      <p class="card-text-paragraph">
        {{ currProject.description }}
      </p>
    </div>
    <div class="container--btn">
      <a
        *ngIf="currProject.deploylink"
        [href]="currProject.deploylink"
        class="btn btn-primary mx-2"
        >Visit WebSite</a
      >
      <a
        *ngIf="currProject.sharelink"
        [href]="currProject.sharelink"
        class="btn btn-primary mx-2"
        >See Video</a
      >
      <a [href]="currProject.repoLink" class="btn btn-primary">Repository</a>
    </div>
  </div>
  <app-footer></app-footer>
</div>
