<nav>
  <ul (click)="toggleBurger()" class="nav__mobile--ul">
    <li class="nav__mobile--li" (click)="navigateToSection('header')">
      <a class="nav__mobile--a"> Main </a>
    </li>
    <li class="nav__mobile--li" (click)="navigateToSection('mySkills')">
      <a class="nav__mobile--a"> Skills </a>
    </li>
    <li class="nav__mobile--li">
      <a class="nav__mobile--a" (click)="navigateToSection('experience')">
        Experience
      </a>
    </li>
    <li class="nav__mobile--li">
      <a class="nav__mobile--a" (click)="navigateToSection('contact')">
        Contact
      </a>
    </li>
    <li class="nav__mobile--li">
      <a class="nav__mobile--a" (click)="navigateToSection('other')"> Other </a>
    </li>
  </ul>
</nav>
