<nav class="navbar navbar-expand-md">
  <button (click)="onToggleNav()" class="navbar-toggler bg-info" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="bg-transparent nav-custom" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          style="cursor: pointer"
          class="nav-link text-info"
          (click)="navigateToSection('header')"
        >
          Main
        </a>
      </li>
      <li class="nav-item" (click)="navigateToSection('mySkills')">
        <a style="cursor: pointer" class="nav-link text-info"> Skills </a>
      </li>
      <li class="nav-item">
        <a
          style="cursor: pointer"
          class="nav-link text-info"
          (click)="navigateToSection('experience')"
        >
          Experience
        </a>
      </li>
      <li class="nav-item">
        <a
          style="cursor: pointer"
          class="nav-link text-info"
          (click)="navigateToSection('contact')"
        >
          Contact
        </a>
      </li>
      <li class="nav-item">
        <a
          style="cursor: pointer"
          class="nav-link text-info"
          (click)="navigateToSection('other')"
        >
          Other
        </a>
      </li>
    </ul>
  </div>
</nav>
